<form class='edit-reminder-form' {{action "editReminder" on='submit'}}>
  <label> Title
    {{input class="edit-reminder-input spec-title-input" value=editTitle
    }}
  </label>
  <label> Date
    {{input class="edit-reminder-input spec-date-input" value=editDate type='date'}}
  </label>
  <label> Notes
    {{input class="edit-reminder-input spec-note-input" value=editNotes}}
  </label>
  <button id="spec-save-reminder-btn"> Save Edits </button>
</form>
{{outlet}}
