  <form class='reminder-form' >
    <label> Title
      {{input class="new-reminder-input spec-title-input" value=title}}
    </label>
    <label> Date
      {{input class="new-reminder-input spec-date-input" value=date type='date'}}
    </label>
    <label> Notes
      {{input class="new-reminder-input spec-note-input" value=notes}}
    </label>
    <button {{action "saveNewReminder" on='click'}} id="spec-save-reminder-btn"> Save New Reminder </button>
    <button {{action "editReminder" on='click'}} id="spec-save-edits-btn"> Save Edits </button>
  </form>
  {{outlet}}
