  <form class='save-new-reminder-form' >
    <label> Title
      {{input class="new-reminder-input spec-title-input" value=model.title}}
    </label>
    <label> Date
      {{bootstrap-datepicker format="mm.dd.yy" class="new-reminder-input spec-date-input" value=model.date }}
    </label>
    <label> Notes
      {{input class="new-reminder-input spec-note-input" value=model.notes}}
    </label>
    <button {{action "saveReminder" model on='click'}} class="spec-save-edits-btn">   {{text}}</button>
  </form>
