<section class="reminder-list">

  {{#if model}}
    <h2> Reminder List </h2>
    <ul>
      {{#each model as |reminder|}}
        <li >
          <span class="unsaved">
            {{if reminder.hasDirtyAttributes "Unsaved Changes to Reminder"}}
          </span>
          {{#link-to 'reminders.reminder' reminder class='spec-reminder-item'}}
            {{reminder.title}}
          {{/link-to}}
          <div>{{reminder.date}}</div>

          <button>
            {{#link-to 'reminders.edit' reminder class='spec-edit-reminder-btn'}}
              EDIT
            {{/link-to}}
          </button>
          
        </li>
      {{/each}}
    </ul>

  {{else}}
    <h2 id="spec-welcome-header"> Welcome to remEMBER</h2>
    <p> Please click below to add a new reminder to your list</p>
  {{/if}}

    <button>
      {{#link-to 'reminders.new' id='spec-create-new-reminder-btn'}}
        Create New Reminder
      {{/link-to}}
    </button>

</section>

{{outlet}}
